.circle {
  border: 1px solid $White;
  height: 2.375rem;
  width: 2.375rem;
  border-radius: 100%;
  color: $White;
  padding: 1.375rem;
  cursor: pointer;

  &.active {
    background: $Light-blue;
    border: $Light-blue;
    color: $Marine-blue;
  }
}

.step {
  gap: 1rem;
}

.step-desc {
  color: $Cool-gray;
  font-size: 0.725rem;
  margin-left: 1rem;
  cursor: pointer;

  span {
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    color: $Light-gray;
    margin-top: 0.5rem;
  }
}

.nav-status {
  gap: 1rem;

  @include breakpoint-up(medium) {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.25rem;
    width: 12rem;
  }
}

.form-nav {
  grid-area: navbar;
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;

  @include breakpoint-up(medium) {
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    height: 46.5rem;
    width: 18.25rem;
    border-radius: 0.675rem;
    padding: 3.125rem 3rem;
    justify-content: start;
    align-items: flex-start;
  }
}

.btn-display {
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  min-width: 18rem;
  height: 9.5rem;
}

// App-main-grid for nav, body, and footerBtn;
.main-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 2fr auto auto;
  grid-template-areas:
    "navbar"
    "body"
    "btn";

  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "navbar body"
      "navbar btn";
  }

  @include breakpoint-up(large) {
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 0 41px -12px $Cool-gray;
    border-radius: 1rem;
  }
}

.step-body {
  background: $Magnolia;
  padding: 0 2rem 2rem 2rem;
  grid-area: body;

  @include breakpoint-up(medium) {
    padding: 0;
  }
}

.footer-btn {
  grid-area: btn;
  position: relative;
  width: 100%;
  min-width: 20.75rem;
  background-color: $Alabaster;
  height: 4.5rem;
  padding: 0 1.5rem;

  @include breakpoint-up(medium) {
    padding: 0 6.25rem;
    max-width: 40rem;
  }

  @include breakpoint-up(large) {
    // padding: 0 6.25rem;
    // max-width: 43rem;
  }
}

//  Styles for button;
.next-btn {
  position: absolute;
  right: 1.5rem;
  width: 6.25rem;
  height: 2.5rem;
  border-radius: 0.265rem;
  border: none;
  color: $White;
  background: $Marine-blue;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:active {
    transform: translate(1px, 1px);
  }

  &:hover {
    background: $Purplish-blue;
  }

  @include breakpoint-up(medium) {
    width: 7.75rem;
    height: 3.25rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

.back-btn {
  color: $Cool-gray;
  border: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  background: none;

  &:active,
  &:hover {
    color: $Marine-blue;
  }

  @include breakpoint-up(medium) {
    font-size: 1rem;
    font-weight: 500;
  }
}

// Step-1 component;
.form-container {
  background: $White;
  // gap: 1.5rem;
  height: 100%;
  box-shadow: 0 0 41px -12px $Cool-gray;
  border-radius: 1rem;
  padding: 4.5rem 2.5rem;

  @include breakpoint-up(medium) {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}

.text-input {
  height: 2.125rem;
  width: 100%;
  min-width: 13.75rem;
  border: 1.5px solid $Light-gray;
  border-radius: 0.275rem;
  // color: $Cool-gray;
  color: $Marine-blue;
  font-size: 1rem;
  font-weight: $light;
  padding: 1rem;
  outline: none;

  &:active,
  &:focus,
  &:focus-visible {
    // outline: none;
    border: 1.5px solid $Purplish-blue;
  }

  @include breakpoint-up(medium) {
    font-size: 1.125rem;
    border: 1.75px solid $Light-gray;
    height: 2.5rem;
    max-width: 31.125rem;
  }

  @include breakpoint-up(large) {
    font-size: 1.25rem;
    height: 3.25rem;
    max-width: 40rem;
  }
}

.form-align {
  gap: 1.75rem;

  @include breakpoint-up(large) {
    gap: 2rem;
  }
}

.stp-one-input-container {
  gap: 0.5rem;
  position: relative;

  // Error messsage;
  .input-error {
    position: absolute;
    top: 1px;
    right: 3px;
    color: $Strawberry-red;
    font-weight: $medium;
    font-size: 0.825rem;
    gap: 0.75rem;

    @include breakpoint-up(large) {
      top: 5px;
      font-size: 1.1rem;
    }
  }

  // Input error highlight;
  .error-border,
  .error-border:focus-visible {
    border: 1.5px solid $Strawberry-red;

    @include breakpoint-up(large) {
      border: 1.75px solid $Strawberry-red;
    }
  }

  @include breakpoint-up(medium) {
    gap: 0.725rem;
  }
}

// Input-error icon;
.icon-input-error {
  height: 1.1rem;
  width: 1.1rem;
}

.stp-two-input-container {
  gap: 1rem;

  @include breakpoint-up(large) {
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1rem;
  }
}

// Thank you component;
.success-container {
  background: $White;
  gap: 1.5rem;
  height: 100%;
  box-shadow: 0 0 41px -12px $Cool-gray;
  border-radius: 1rem;
  padding: 5.5rem 2.5rem;
  text-align: center;

  @include breakpoint-up(medium) {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  @include breakpoint-up(large) {
    gap: 2.125rem;
  }
}

.success-img {
  height: 3.75rem;
  width: 3.75rem;

  @include breakpoint-up(medium) {
    height: 5.125rem;
    width: 5.125rem;
  }
}

.success-head {
  color: $Marine-blue;
  font-size: 2rem;
  font-weight: $bold;

  @include breakpoint-up(medium) {
    font-size: 2.25rem;
  }
}

.success-para {
  max-width: 21.75rem;
  width: 100%;
  margin-top: -0.625rem;
  color: $Cool-gray;

  @include breakpoint-up(medium) {
    margin-top: -0.875rem;
    max-width: 38rem;
    font-size: 1.25rem;
    font-weight: $regular;
  }
}

// Personal-Info component;
.form-head {
  color: $Marine-blue;
  font-size: 1.75rem;
  font-weight: $bold;

  @include breakpoint-up(medium) {
    font-size: 1.75rem;
  }

  @include breakpoint-up(large) {
    font-size: 2.25rem;
  }
}

.form-para {
  color: $Cool-gray;
  margin-top: -1rem;

  @include breakpoint-up(medium) {
    font-size: 1.125rem;
  }

  @include breakpoint-up(large) {
    font-size: 1.25rem;
  }
}

.radio-input {
  appearance: none;
  // display: none;
}

// radio button when checked
.radio-label.checked {
  border: 1.625px solid $Purplish-blue;
  background: $Magnolia;
}

// label-radio;
.radio-label {
  width: 100%;
  max-width: 22rem;
  height: 100%;
  min-height: 4.875rem;
  border: 1.625px solid $Light-gray;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;

  @include breakpoint-up(medium) {
    max-width: 35rem;
  }

  @include breakpoint-up(large) {
    flex-direction: column;
    align-items: flex-start;
    max-height: 11.5rem;
    max-width: 8.75rem;
    gap: 1.975rem;
  }
}

.radio-img {
  img {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.radio-text {
  gap: 0.25rem;

  @include breakpoint-up(large) {
    gap: 0.5rem;
  }

  h3 {
    font-size: 1rem;
    color: $Marine-blue;
    font-weight: $bold;

    @include breakpoint-up(large) {
      font-size: 1.2rem;
    }
  }

  .label-price {
    font-size: 0.925rem;
    color: $Cool-gray;
    font-weight: $regular;

    @include breakpoint-up(large) {
      font-size: 1rem;
    }
  }
  .label-offer {
    font-size: 0.675rem;
    color: $Marine-blue;
    font-weight: $medium;

    @include breakpoint-up(large) {
      font-size: 0.75rem;
    }
  }
}

// toggle-switch;
.toggle-container {
  padding: 1rem;
  background: $Magnolia;
}

.toggle-switch {
  padding: 0.2rem;
  margin: 0 1rem;
  width: 2.5rem;
  border-radius: 1rem;
  background: $Marine-blue;
  cursor: pointer;
}

.switch {
  display: block;
  border-radius: 50%;
  background: $Alabaster;
  border: 1px solid black;
  height: 1rem;
  width: 1rem;
  transition: transform 400ms ease;

  &.active {
    background: $Alabaster;
    transform: translateX(1.125rem);
  }
}

// Step-three component;
.stp-three-input-container {
  gap: 1rem;

  @include breakpoint-up(large) {
    gap: 1.5rem;
  }
}

.step-three-label-text {
  height: 100%;
  width: 100%;
  min-width: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid $Cool-gray;
  gap: 1rem;
  cursor: pointer;

  @include breakpoint-up(large) {
    max-width: 28.5rem;
    padding: 1.375rem;
  }

  &.active {
    background: $Magnolia;
    border: 2px solid $Purplish-blue;
  }

  input[type="checkbox"] {
    height: 1.375rem;
    width: 1.375rem;
    cursor: pointer;
  }

  // label-price;
  span {
    font-size: 0.875rem;
    font-weight: $medium;
    color: $Purplish-blue;

    @include breakpoint-up(large) {
      font-size: 1.125rem;
    }
  }
}

.label-head {
  h3 {
    font-size: 1.125rem;
    font-weight: $medium;

    @include breakpoint-up(large) {
      font-size: 1.375rem;
    }
  }

  p {
    margin: 0.25rem 0 0 0;
    font-size: 0.875rem;
    color: $Cool-gray;
    font-weight: $regular;

    @include breakpoint-up(large) {
      font-size: 1.125rem;
    }
  }
}

// Step-4 Component;
// .summary-container {
//   background: $White;
//   // gap: 1.5rem;
//   height: 100%;
//   box-shadow: 0 0 41px -12px $Cool-gray;
//   border-radius: 1rem;
//   padding: 4.5rem 2.5rem;

//   @include breakpoint-up(medium) {
//     width: 100%;
//     border-radius: 0;
//     box-shadow: none;
//   }
// }

// .summary-align {
//   gap: 1.75rem;

//   @include breakpoint-up(large) {
//     gap: 2rem;
//   }
// }

.stp-four-summary-container {
  gap: 2rem;
}

.summary-items-container {
  gap: 1.25rem;
  background: $Alabaster;
  padding: 1.5rem;
  border-radius: 0.5rem;

  @include breakpoint-up(large) {
    padding: 2rem;
    gap: 2rem;
  }
}

.summary-items-container-addons {
  h3 {
    font-weight: $medium;
    font-size: 1rem;
    color: $Cool-gray;

    @include breakpoint-up(large) {
      font-size: 1.125rem;
    }
  }

  span {
    font-weight: $medium;
    font-size: 1rem;
    color: $Marine-blue;

    @include breakpoint-up(large) {
      font-size: 1.125rem;
    }
  }
}

.summary-items-container-head {
  gap: 1rem;

  h3 {
    font-size: 1.125rem;
    color: $Marine-blue;
    font-weight: $bold;

    @include breakpoint-up(large) {
      font-size: 1.25rem;
    }

    span {
      display: block;
      font-weight: $regular;
      font-size: 1.125rem;
      color: $Cool-gray;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $Purplish-blue;
      }

      @include breakpoint-up(large) {
        font-size: 1.25rem;
      }
    }
  }

  span {
    font-weight: $bold;
    font-size: 1.125rem;
    color: $Marine-blue;
  }
}

.summary-total-container {
  h3 {
    font-size: 1.125rem;
    color: $Cool-gray;
    font-weight: $regular;

    @include breakpoint-up(large) {
      font-size: 1.25rem;
    }
  }

  span {
    color: $Purplish-blue;
    font-weight: $bold;
    font-size: 1.125rem;

    @include breakpoint-up(large) {
      font-size: 1.25rem;
    }
  }
}
