* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: $regular;

  @include breakpoint-up(large) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Light-bg-blue;
  }
}

.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }
  &-js-cnt {
    justify-content: center;
  }
  &-al-cnt {
    align-items: center;
  }
  &-js-spbtw {
    justify-content: space-between;
  }
  &-js-al-cnt {
    justify-content: center;
    align-items: center;
  }
  &-js-flxend-al-cnt {
    justify-content: flex-end;
    align-items: center;
  }
  &-js-spbtw-al-cnt {
    justify-content: space-between;
    align-items: center;
  }
}

.grid {
  display: grid;
}

label {
  display: block;
  font-size: 0.825rem;
  color: $Marine-blue;
  font-weight: $regular;

  @include breakpoint-up(medium) {
    font-size: 1.125rem;
  }

  @include breakpoint-up(large) {
    font-size: 1.25rem;
  }
}
